[submodule "bundle/editorconfig-vim"]
	path = bundle/integrate-editorconfig
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "bundle/vim-php-cs-fixer"]
	path = bundle/cs-fixer-php
	url = https://github.com/stephpy/vim-php-cs-fixer.git

[submodule "bundle/js-html-indent"]
	path = bundle/cs-js-html
	url = https://github.com/vim-scripts/JavaScript-Indent.git
[submodule "bundle/sparkup"]
	path = bundle/autocomplete-html
	url = https://github.com/rstacruz/sparkup.git

[submodule "bundle/darcula-theme"]
	path = bundle/colorscheme-darcula
	url = https://github.com/blueshirts/darcula.git
[submodule "pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim-twig"]
	path = bundle/syntax-twig
	url = https://github.com/lumiliet/vim-twig.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/colorscheme-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "fugitive"]
	path = bundle/integrate-git
	url = https://github.com/tpope/vim-fugitive.git
[submodule "coloscheme-molokai"]
	path = bundle/colorscheme-molokai
	url = https://github.com/tomasr/molokai.git
[submodule "vim-css-color"]
	path = bundle/syntax-css-color
	url = https://github.com/ap/vim-css-color
[submodule "CSApprox"]
	path = bundle/vim-csapprox
	url = https://github.com/godlygeek/csapprox
[submodule "Indend-Guides"]
	path = bundle/cs-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "triling-whitespace"]
	path = bundle/cs-trailing-whitespace
	url = https://github.com/bronson/vim-trailing-whitespace
[submodule "easytags.vim"]
	path = bundle/autocomplete-ctags
	url = https://github.com/xolox/vim-easytags.git
[submodule "vim-misc"]
	path = bundle/vim-xolox-vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule "vim-symfony"]
	path = bundle/integrate-symfony
	url = https://github.com/docteurklein/vim-symfony.git
[submodule "vim-yaml"]
	path = bundle/syntax-yaml
	url = https://github.com/stephpy/vim-yaml
[submodule "vim-javascript"]
	path = bundle/syntax-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "css.vim"]
	path = bundle/syntax-css
	url = https://github.com/JulesWang/css.vim.git
[submodule "html5.vim"]
	path = bundle/syntax-html5
	url = https://github.com/othree/html5.vim.git
[submodule "vim-json"]
	path = bundle/syntax-json
	url = https://github.com/elzr/vim-json.git
[submodule "vim-markdown"]
	path = bundle/syntax-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "nginx-contrib-vim"]
	path = bundle/syntax-nginx
	url = https://github.com/moskytw/nginx-contrib-vim.git
[submodule "php.vim"]
	path = bundle/syntax-php
	url = https://github.com/StanAngeloff/php.vim.git
[submodule "vim-python-combined"]
	path = bundle/syntax-python
	url = https://github.com/mitsuhiko/vim-python-combined.git
